@page "/profile"
@using BucHelp.Data

<h3>Profile</h3>
<p>@currentUser.UserProfile.Name<br />
   Email Address: @currentUser.Email<br />
   Affiliation: @currentUser.Affiliation<br />
   Major: @currentUser.UserProfile.Major<br />
   Description: @currentUser.UserProfile.Description</p>

<!--Brandon: This code is to demonstrate how to store variables, the above shows how to print them-->
@code {
    private static string password = "dang", //Because we are probably not going to have the User data stored directly here and call from a database instead
                                             //(One of which does not exist at the moment), the password is being stored here to make a user object possible to make
                          address = "yofullname@google.com",
                          affiliation = "Student",
                          major = "Math",
                          description = "This is a test description for the profile.",
                          overwrittenName = "Blank"; //There has to be a more efficient way of creating a Profile, I just don't know it
    private static Profile profileDetails = new Profile(overwrittenName, major, description);
    private static User currentUser = new User(password, address, affiliation, profileDetails);
}
